# Dependencies
node_modules/

# Production build output
dist/

# Executables & Binaries
yt-dlp
yt-dlp.exe

# Temporary files & logs
*.mp3
*.webm
*.m4a
*.log
.DS_Store

# Environment variables
.env
.env.local
.env.*.local
